body{    
    --bs-body-bg: rgba(81, 55, 134, 0.15);
    --bs-secondary: rgba(81, 55, 134, 0.6);
    background-color: var(--bs-body-bg);
    height: 100vh;
}
nav.navbar{
    justify-content: space-between;
    background-color: var(--bs-secondary);
    color: white;
}
.nav-link {
    font-size: 20px;
    padding-left: 50px;

    color:white;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 25px;
    font-weight:bold;
}
.centered-div {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -80%);
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:20px;
}
#name, #password, #email, #button {
    border-radius: 10px;
}

.under-text {
    text-align:center;
    margin-top:10px;
}
.under-text p,a {
    font-size:12px;
    color:white;
    display: inline;
    font-weight:bold;
}
