<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../main.css">
        <title>Chat</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg background-secondary">  
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href=""><u> Home </u> </a>   <!--  TODO: ADD LINK TO HOME PAGE -->
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href=""><u> Add class </u> </a>   <!--  TODO: ADD LINK TO ADD CLASS PAGE -->
                    </li>
                </ul>
                <h1 id="class-name">CSCI 1111</h1>
                <ul class="navbar-nav" style="justify-content: flex-end;">
                    <li class="nav-item active">
                        <a class="nav-link" href=""><u> Log out </u> </a>   <!--  TODO: ADD LINK TO log out -->
                    </li>
                </ul>
        </nav>

        <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3" >
            <ul class="nav nav-pills flex-column mb-auto">
                <!-- TODO ADD onclick, and associated js for the following: -->
                <a>CSCI 1111</a>
                <a>CSCI 2222</a>
                <a>CSCI 3333</a>
                <a>CSCI 4444</a>
                <a onclick="changeClass('CSCI 5555')">CSCI 5555</a>
            </ul>
        </div>

        <div id="chat-window">
            <div id="message-history">

            </div>
            <form action="sendMessage" method="post">
                <input type="text">
                <input type="submit">
            </form>
        </div>

    </body>
</html>


<style>
/* Link animations: */
    a{
        width: fit-content;
        color: white;
        padding: 0 .25rem;
        border-radius: 5px;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }    
    a:hover{
        box-shadow: inset 100px 0 0 100px rgba(81, 55, 134, 0.8);
        color: white;
    }
/* sidebar: */
    #sidebar{
        width: fit-content;
        a{
            margin: 10px 0;
        }
    }
</style>

<script>
    function changeClass(new_title){
        // Switch between message lists once implemented
        titleEl = document.getElementById("class-name");
        titleEl.innerHTML = new_title
    }


</script>