<div class="message"></div>
    <div class="message-info row">
        <p class="sender">{{sender}}</p>
        <p class="timestamp">{{timestamp}}</p>
    </div>
    <p class="message-text">{{text}}</p>
</div>