{{#each messages}}
    {{#with this}}
        <div class="message">
            <div class="message-info row">
                <p class="sender">{{name}}</p>
                <p class="timestamp">{{created_at}}</p>
            </div>
            <p class="message-text">{{message_body}}</p>
        </div>
    {{/with}}
{{/each}}